{% comment %}
    While voting is open, we show *who* has voted but not what the votes were.
    When moderator closes the ticket, votes are displayed to all.
{% endcomment %}

<a href="{% url 'points:join_leave_space' space.slug %}" class="btn btn-sm btn-primary mb-2">
    {% if user in space.members.all %}Leave{% else %}Join{% endif %}
</a>

<div class="card mt-2" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Voting members</b></li>
        {% for member, vote in members.items  %}
            <li class="list-group-item">
                    {{ member }}
                    {% if vote %}:
                        {% if active_ticket.closed %}
                            {{ vote }}
                        {% else %}
                            <i class="bi bi-check" style="font-size: 130%";></i>
                        {% endif %}
                    {% endif %}

            </li>
        {% endfor %}
    </ul>
</div>


