

<div class="col-lg-9">
    <div class="card">
        <div class="card-header">
            <b>Moderator Tools</b>
        </div>
        <div class="card-body">

            <div class="card-text">
                <table class="table">
                    <tr>
                        <th>Action</th>
                        <th>Note</th>
                    </tr>

                        {# Add a ticket #}
                        <tr>
                            <td>
                            <a href="{% url 'points:add_ticket' space.slug %}" class="btn btn-sm btn-primary mt-2">
                                Add a ticket
                            </a>
                            </td>
                            <td></td>
                        </tr>

                        {# Open/close active ticket #}
                        {% if active_ticket %}
                            <tr>
                                <td>
                                    <a href="{% url 'points:open_close_ticket' space.slug active_ticket.id %}" class="btn btn-sm btn-primary mt-2">
                                        {% if active_ticket.closed %}Open{% else %}Close{% endif %} active ticket
                                    </a>
                                </td>
                                <td>
                                    Confirm that all members have voted on the current active ticket before closing.
                                </td>
                            </tr>
                        {% endif %}


                        {# Close voting in space #}
                        <tr>
                            <td>
                                {% if space.is_open %}
                                    <a href="{% url 'points:open_close_space' space.slug %}" class="btn btn-sm btn-primary mt-2">
                                        Close voting space
                                    </a>
                                {% else %}
                                    <a href="{% url 'points:open_close_space' space.slug %}" class="btn btn-sm btn-danger mt-2">
                                       Open voting space
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                Turn voting {{ space.is_open|yesno:"OFF,ON" }} for all members. Vote tally snapshot is auto-saved on close.
                            </td>
                        </tr>

                        {# Clear votes/start over #}
                        <tr>
                            <td>
                                <a href="{% url 'points:clear_space_cache' space.slug %}" class="btn btn-sm btn-primary mt-2">
                                    Clear Votes
                                </a>
                            </td>
                            <td>
                                Clear all votes in current session (re-start voting)
                            </td>
                        </tr>

                        {# Archive current tickets #}
                        <tr>
                            <td>
                                <a href="{% url 'points:archive_tickets' space.slug %}" class="btn btn-sm btn-primary mt-2">
                                    Archive current tickets
                                </a>
                            </td>
                            <td>
                                In preparation for next session
                            </td>
                        </tr>

                        {# Boot users . n.b. forms cannot span table rows! #}
                        <tr>

                            <td>
                                <form action="{% url 'points:boot_users' space.slug %}" method="get">
                                    {% for username in space.members.all %}
                                        <input type="checkbox" name="usernames" value="{{ username }}"> {{ username }} &nbsp;
                                    {% endfor %}
                                    <br />
                                    <input class="btn btn-sm btn-primary mb-2 mt-2" type="submit" value="Boot selected users"/>
                                </form>
                            </td>
                            <td>
                                Users previously joined may not be present today
                            </td>
                        </tr>

                        {# Send message to all users #}
                        <tr>

                            <td>
                                <form hx-post="{% url 'points:rt_send_message' %}"
                                    hx-swap="none"
                                    hx-on::after-request="this.reset()"
                                >
                                {% csrf_token %}
                                <input type="hidden" name="space_name" value="{{ space.slug }}">
                                <textarea class="form-control"
                                    id="message"
                                    name="message"
                                    rows="3"
                                    placeholder="Message all users..."
                                    required></textarea>
                                    <button type="submit" class="btn btn-sm btn-primary mt-2">Message All Users</button>
                                </form>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                </table>
            </div>
        </div>
    </div>
</div>

    {# Debug: Uncomment to see all votes in this space #}
    {# <pre>{{tallies}}</pre> #}

