{% if active_ticket  and space.is_open %}

    <h4>Voting on:<br /><a href="{{ active_ticket.url }}" target="_blank">{{ active_ticket.title }}</a></h3>

    {% if not active_ticket.closed %}
        {% if user in space.members.all %}
            <form action="{% url 'points:tally_single' %}" method="post" class="mt-4" id="vote_numbers">
                <input type="hidden" name="space" value="{{ space.slug }}">
                <input type="hidden" name="username" value="{{ user.username }}">
                <input type="hidden" name="ticket" value="{{ active_ticket.id }}">
                {% for number in numbers %}
                    <button type="submit"
                            class="btn btn-primary"
                            name="number" value="{{ number.0 }}"
                            hx-post="{% url 'points:tally_single' %}"
                            hx-include="form"
                            hx-swap="none"
                            hx-vals='{"number": "{{ number.0 }}"}'
                            onclick="
                                {# Deselect all buttons #}
                                document.querySelectorAll('.btn-clicked').forEach(btn => {
                                    btn.classList.remove('btn-clicked');
                                    btn.classList.add('btn-primary');
                                });
                                {# Change color of selected button #}
                                this.classList.add('btn-clicked'); this.classList.remove('btn-primary');
                            "
                        <span class="badge badge-light">{{ number.0 }}</span>
                    </button>
                {% endfor %}
            </form>
        {% else %}
            You are not a voting member - join space to vote.
        {% endif %}
    {% endif %}

{% endif %}
