{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Change Password{% endblock %}

{% block inner %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">

          <div class="card-header">
            {% if token_fail %}Bad Token{% else %}Change Password{% endif %}
          </div>

          <div class="card-body">
            {# Login Form #}
            {% include "account/include/pass_change_form.html" %}
          </div>

        </div>
      </div>
    </div><!-- /.row -->
  </div>
{% endblock %}
