{# shared ticket table same for all members of a space #}
{% if space.ticket_set.all %}
    <div class="card mt-4">
        <div class="card-header">
            <b>Tickets in {{ space.slug }} {% if not space.is_open %}(voting closed){% endif %}</b>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                </tr>
                {% for ticket in current_tickets %}
                    <tr>
                        <td>
                            <a href="{{ ticket.url }}" target="_blank">
                                {% if ticket.closed %}<strike>{{ ticket }}</strike>{% else %}{{ ticket }}{% endif %}
                            </a>
                            {% if ticket.active %}(A){% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% else %}
    There are no tickets to be pointed.
{% endif %}
