
<a href="{% url 'points:join_leave_space' space.slug %}" class="btn btn-sm btn-primary mb-2">
    {% if user in space.members.all %}Leave{% else %}Join{% endif %}
</a>


{% comment %}
    To whom do we show votes?
    If you are the moderator, we always show all votes.

    We always show YOUR vote to you.
    Once the moderator closes the ticket, we show ALL votes on this ticket.
{% endcomment %}

<div class="card mt-2" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Voting members</b></li>
        {% for member, vote in members.items  %}
            <li class="list-group-item">
                {% if user == space.moderator or active_ticket.closed %}
                    {{ member }}{% if vote %}: {{ vote|default_if_none:"" }}{% endif %}
                {% else %}
                    {{ member }}
                    {% if active_ticket.closed or user == member %}
                        {% if vote %}: {{ vote|default_if_none:"" }}{% endif %}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{# Temporary #}
{% if user == space.moderator %}
<div class="moderator-panel">
    <h3 class="mt-4">Temp Msg Panel</h3>
    <form hx-post="{% url 'points:rt_send_message' %}"
            hx-swap="none"
            hx-on::after-request="this.reset()">
        {% csrf_token %}
        <div class="mb-3">
            <label for="message" class="form-label">Broadcast Message:</label>
            <textarea class="form-control"
                        id="message"
                        name="message"
                        rows="3"
                        placeholder="Type your message here..."
                        required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send to All Users</button>
    </form>
</div>
{% endif %}
