{% if space.ticket_set.all %}
    <div class="card w-100 mt-4">
        <div class="card-header">
            <b>Tickets in {{ space.slug }} {% if not space.is_open %}(voting closed){% endif %}</b>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                    {% if user == space.moderator %}
                        <th>Open/Close</th>
                        <th>Make Active</th>
                    {% endif %}
                </tr>
                {% for ticket in current_tickets %}
                    <tr>
                        <td>
                            <a href="{{ ticket.url }}" target="_blank">
                                {% if ticket.closed %}<strike>{{ ticket }}</strike>{% else %}{{ ticket }}{% endif %}
                            </a>
                        </td>

                        {% if user == space.moderator %}
                            <td>
                                <a href="{% url 'points:open_close_ticket' ticket.id %}" >
                                    <i class="bi bi-app-indicator"></i>
                                </a>
                            </td>
                            <td>
                                {% if not ticket.active %}
                                    <a href="{% url 'points:activate_ticket' space.slug ticket.id %}" >
                                        <i class="bi bi-battery-charging"></i>
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% else %}
    There are no tickets to be pointed.
{% endif %}
