{% extends "base.html" %}

{% block title %}Points Home{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <h2>Pointing Spaces</h2>


    <table class="table mt-4">

        {% for project in projects %}
            {% if project.space_set.all %}
                <tr class="d-flex table-light">
                    <td class="col-2"><b>{{ project }}</b></td>
                    <td class="col-2"></td>
                </tr>
            {% endif %}
                {% for space in project.space_set.all  %}
                    <tr class="d-flex">
                        <td class="col-2"></td>
                        <td class="col-2">
                            <a href="{% url 'points:space' space.slug %}"><b>{{ space.moderator }}</b></a>
                            <i class="bi {% if space.is_open %}bi-door-open{% else %}bi-door-closed{% endif %}"></i>
                        </td>
                    </tr>
                {% endfor %}
        {% endfor %}
    </table>

    {% else %}
        Please log in to use Poynter
    {% endif %}
{% endblock %}
