{% extends "base.html" %}

{% block title %}Space {{ space.slug }}{% endblock %}

{% block extra_style %}
  <style>
    #vote_numbers button {
        font-size: 225%;
        margin-right: 20px;
        padding: 0 15px 0 15px;
    }

    {# Button changes color when voting #}
    #vote_numbers .btn-clicked {
        background-color: #28a745 !important;
        border-color: #28a745 !important;
    }
  </style>
{% endblock extra_style %}

{% block content %}

    <div class="container">


        <div class="row">
            <div class="col-lg-9">

                <div class="row">
                    <div class="col">
                        <!-- Real-time message displays here -->
                        <div class="message-display" id="message-display">
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        {# Display active ticket, linked #}
                        <div
                            hx-get="{% url 'points:display_active_ticket' space.slug %}"
                            hx-trigger="load"
                            class="display_active_ticket"
                            id="display_active_ticket">
                        </div>

                        {# voting_row is not shared code - votes are associated with requesting users #}
                        {% include "points/htmx/voting_row.html" %}
                    </div>
                </div>

                <div class="row">
                    <div class="{% if user == space.moderator %}col-lg-9{% else %}col-lg-12{% endif %}">
                        {# ticket_table loaded and updated via htmx #}
                        <div
                            hx-get="{% url 'points:display_ticket_table' space.slug %}"
                            hx-trigger="load"
                            class="display_ticket_table"
                            id="display_ticket_table">
                        </div>
                    </div>

                    {% if user == space.moderator %}
                        <div class="col-lg-3">
                            {# moderator ticket control table #}
                            <div
                                hx-get="{% url 'points:display_ticket_control' space.slug %}"
                                hx-trigger="load"
                                class="display_ticket_control"
                                id="display_ticket_control">
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-3">
                {% include "points/_members_col.html" %}
            </div>
        </div>

        {% if user == space.moderator %}
            <div class="row mt-4">
                {% include "points/_moderator_tools.html" %}
            </div>
        {% endif %}

    </div>

{% endblock %}


{% block extra_js %}
    <script>
        // Populate any page element with any widget contents generated via HTMX
        const socket = new WebSocket('ws://{{ host }}/ws/broadcast/{{ room_name }}');
        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type === 'html_update') {
                const targetElement = document.getElementById(data.target_element);
                if (targetElement) {
                    targetElement.innerHTML = data.html_content;
                }
            } else {
                // Broadcast text message to all users, into a fixed div
                var messageSpace = document.getElementById('message-display');
                messageSpace.textContent = data.message;
                messageSpace.classList.add('alert');
                messageSpace.classList.add('alert-primary');
            }
        };
    </script>
{% endblock extra_js %}
