{% extends "base.html" %}

{% block title %}Space {{ space.slug }}{% endblock %}

{% block extra_style %}
  <style>
    #vote_numbers button {
        font-size: 225%;
        margin-right: 20px;
        padding: 0 15px 0 15px;
    }

    {# Button changes color when voting #}
    #vote_numbers .btn-clicked {
        background-color: #28a745 !important;
        border-color: #28a745 !important;
    }
  </style>
{% endblock extra_style %}

{% block content %}

    <div class="container">


        <div class="row">
            <div class="col-lg-9">

                <div class="row">
                    <div class="col">
                        {% include "points/_numbers_row.html" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {% include "points/_ticket_table.html" %}
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                {% include "points/_members_col.html" %}
            </div>
        </div>

        <div class="row mt-4">
            {% include "points/_moderator_tools.html" %}
        </div>

    </div>

{% endblock %}


