<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  <div class="input-group mb-3">
    <input type="text" name="email" id="id_email" class="form-control" placeholder="Email">
  </div>
  <input class="btn btn-block btn-primary mb-2" type="submit" value="Reset My Password"/>
</form>
<p>Please contact us if you have any trouble resetting your password.</p>
